* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

body {
  width: 100%;
}

.container {
  width: 1140px;
  margin: 0px auto;
}
.container .header {
  width: 1110px;
  padding: 48px 15px;
  display: flex;
}
.container .header h1 {
  font-size: 40px;
  font-weight: 500;
  color: #212529;
  margin-bottom: 8px;
}
.container .form-control {
  width: 700px;
  padding: 0px 15px;
}
.container .form-control form {
  padding: 3px;
  border: 1px solid #ced4da;
  border-radius: 10px;
}
.container .form-control form input {
  width: 672px;
  font-size: 15px;
  color: #212529;
  line-height: 2.5;
  padding: 0px 10px;
  outline: none;
}
.container .form-control form input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-radius: 5px;
  transition: 0.1s ease;
}
.container .form-search {
  width: 300px;
  padding: 0px 15px;
}
.container .form-search form {
  padding: 3px;
  border: 1px solid #ced4da;
  border-radius: 10px;
}
.container .form-search form input {
  width: 272px;
  font-size: 15px;
  color: #212529;
  line-height: 2;
  padding: 0px 10px;
  outline: none;
}
.container .form-search form input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-radius: 5px;
  transition: 0.1s ease;
}
.container .form-filter {
  width: 80px;
  height: 30px;
  margin: 0px 20px 0px 0px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  color: #212529;
  outline: none;
  overflow: hidden;
}
.container .btn-del {
  width: 575px;
  height: 30px;
  margin: 10px 0px;
}
.container .btn-del p {
  float: right;
  width: 90px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  background-color: #ff0000;
  border-radius: 10px;
  cursor: pointer;
}
.container .btn-del p:hover {
  box-shadow: 0 0 5px #212529;
}
.container .list-element {
  padding: 0px 15px 30px 15px;
  position: relative;
}
.container .list-element li {
  width: 510px;
  margin: 5px 0px 0px 0px;
  padding: 0px 25px;
  border-radius: 10px;
  border: 1px solid #ced4da;
  display: flex;
  justify-content: space-between;
}
.container .list-element li .Item {
  width: 380px;
  font-size: 14px;
  color: #212529;
  line-height: 2.5;
  text-align: center;
  border-radius: 10px;
  outline: none;
}
.container .list-element li .Item:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  transition: 0.1s ease;
}
.container .list-element li button {
  margin: 2px 0px;
  width: 380px;
  height: 40px;
  border-radius: 10px;
  outline: none;
}
.container .list-element li .form-check .form-check-input {
  width: 20px;
  margin: 15px 0px;
  transform: scale(1.2);
}
.container .list-element li .btn-icon-list {
  display: flex;
  justify-content: space-between;
}
.container .list-element li .btn-icon-list i {
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}
.container .list-element li .btn-icon-list .btn-icon-edit {
  width: 15px;
  height: 15px;
  margin: 5px 0px;
  color: #007bff;
}
.container .list-element li .btn-icon-list .btn-icon-edit:hover {
  transition: all 0.2s ease;
  color: #ffffff;
  background-color: #007bff;
}
.container .list-element li .btn-icon-list .btn-icon-remove {
  width: 15px;
  height: 15px;
  margin: 5px 0px;
  color: #de3545;
}
.container .list-element li .btn-icon-list .btn-icon-remove:hover {
  transition: all 0.2s ease;
  color: #ffffff;
  background-color: #de3545;
}
.container .list-element li input {
  width: 400px;
  margin: 5px 0px;
  text-align: left;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.completed {
  -webkit-text-decoration: line-through #ff0000;
          text-decoration: line-through #ff0000;
  background-color: #90f184;
}